In [105]:
import math
import statistics
from scipy import stats
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

df.head(20)
df['Origin'].value_counts()

Origin
US        254
Japan      79
Europe     73
Name: count, dtype: int64

In [7]:
# 1. 
print('Datatype car:', car.dtype)
print('Datatype mpg:', mpg.dtype)
print('Datatype horsepower:', horsepower.dtype)
print('Datatype origin:', origin.dtype)

Datatype car: object
Datatype mpg: float64
Datatype horsepower: float64
Datatype origin: object

In [ ]:
# 2. this short cut allows the user to type less keys as well as the fact that it is a common shortening that most people use so
# it's helpful when working on code with multiple people as everyone will commonly use that shortening

In [23]:
# 3. 
print(car.shape, mpg.shape, cylinders.shape, displacement.shape, horsepower.shape, weight.shape, acceleration.shape, model.shape, origin.shape)

(406,) (406,) (406,) (406,) (406,) (406,) (406,) (406,) (406,)

In [44]:
# 4. 
print('The sum of horsepower is',np.sum(horsepower))
print('The min of horsepower is',np.min(horsepower))
print('The max of horsepower is',np.max(horsepower))
print('The median of horsepower is',np.median(horsepower))
print('The mode of horsepower is',stats.mode(horsepower))

The sum of horsepower is 42033.0
The min of horsepower is 0.0
The max of horsepower is 230.0
The median of horsepower is 93.5
The mode of horsepower is ModeResult(mode=np.float64(150.0), count=np.int64(22))

In [67]:
# 5. 
subarrays = [car, mpg, cylinders, displacement, horsepower, weight, acceleration, model, origin]
for subarray in subarrays:
    print(subarray[-1])

Chevy S-10
31.0
4
119.0
82.0
2720.0
19.4
82
US

In [68]:
# 6. 
# THe np.lookfor() is not in this version

In [74]:
# 7. 
TF_df = df['Origin']=='US'
print(TF_df)

0       True
1       True
2       True
3       True
4       True
       ...
401     True
402    False
403     True
404     True
405     True
Name: Origin, Length: 406, dtype: bool

In [88]:
# 8.
sorted_df = car[TF_df]
print(sorted_df)
len(sorted_df)

['Chevrolet Chevelle Malibu' 'Buick Skylark 320' 'Plymouth Satellite'
 'AMC Rebel SST' 'Ford Torino' 'Ford Galaxie 500' 'Chevrolet Impala'
 'Plymouth Fury iii' 'Pontiac Catalina' 'AMC Ambassador DPL'
 'Chevrolet Chevelle Concours (sw)' 'Ford Torino (sw)'
 'Plymouth Satellite (sw)' 'AMC Rebel SST (sw)' 'Dodge Challenger SE'
 "Plymouth 'Cuda 340" 'Ford Mustang Boss 302' 'Chevrolet Monte Carlo'
 'Buick Estate Wagon (sw)' 'Plymouth Duster' 'AMC Hornet' 'Ford Maverick'
 'AMC Gremlin' 'Ford F250' 'Chevy C20' 'Dodge D200' 'Hi 1200D'
 'Chevrolet Vega 2300' 'Ford Pinto' 'AMC Gremlin'
 'Plymouth Satellite Custom' 'Chevrolet Chevelle Malibu' 'Ford Torino 500'
 'AMC Matador' 'Chevrolet Impala' 'Pontiac Catalina Brougham'
 'Ford Galaxie 500' 'Plymouth Fury iii' 'Dodge Monaco (sw)'
 'Ford Country Squire (sw)' 'Pontiac Safari (sw)'
 'AMC Hornet Sportabout (sw)' 'Chevrolet Vega (sw)' 'Pontiac Firebird'
 'Ford Mustang' 'Mercury Capri 2000' 'Plymouth Cricket'
 'Dodge Colt Hardtop' 'Chevrolet Vega' 'Ford Pinto Runabout'
 'Chevrolet Impala' 'Pontiac Catalina' 'Plymouth Fury III'
 'Ford Galaxie 500' 'AMC Ambassador SST' 'Mercury Marquis'
 'Buick LeSabre Custom' 'Oldsmobile Delta 88 Royale'
 'Chrysler Newport Royal' 'AMC Matador (sw)'
 'Chevrolet Chevelle Concours (sw)' 'Ford Gran Torino (sw)'
 'Plymouth Satellite Custom (sw)' 'Ford Pinto (sw)' 'Dodge Colt (sw)'
 'Buick Century 350' 'AMC Matador' 'Chevrolet Malibu' 'Ford Gran Torino'
 'Dodge Coronet Custom' 'Mercury Marquis Brougham'
 'Chevrolet Caprice Classic' 'Ford LTD' 'Plymouth Fury Gran Sedan'
 'Chrysler New Yorker Brougham' 'Buick Electra 225 Custom'
 'AMC Ambassador Brougham' 'Plymouth Valiant' 'Chevrolet Nova Custom'
 'AMC Hornet' 'Ford Maverick' 'Plymouth Duster' 'Chevrolet Impala'
 'Ford Country' 'Plymouth Custom Suburb' 'Oldsmobile Vista Cruiser'
 'AMC Gremlin' 'Chevrolet Vega' 'Ford Pinto' 'Mercury Capri v6'
 'Chevrolet Monte Carlo S' 'Pontiac Grand Prix' 'Dodge Dart Custom'
 'Oldsmobile Omega' 'Plymouth Duster' 'Ford Maverick' 'AMC Hornet'
 'Chevrolet Nova' 'Ford Pinto' 'Chevrolet Vega'
 'Chevrolet Chevelle Malibu Classic' 'AMC Matador'
 'Plymouth Satellite Sebring' 'Ford Gran Torino'
 'Buick Century Luxus (sw)' 'Dodge Coronet Custom (sw)'
 'Ford Gran Torino (sw)' 'AMC Matador (sw)' 'Dodge Colt'
 'Plymouth Valiant Custom' 'Chevrolet Nova' 'Mercury Monarch'
 'Ford Maverick' 'Pontiac Catalina' 'Chevrolet Bel Air'
 'Plymouth Grand Fury' 'Ford LTD' 'Buick Century'
 'Chevrolete Chevelle Malibu' 'AMC Matador' 'Plymouth Fury'
 'Buick Skyhawk' 'Chevrolet Monza 2+2' 'Ford Mustang II' 'Ford Pinto'
 'AMC Gremlin' 'Pontiac Astro' 'Ford Pinto' 'AMC Pacer' 'Capri ii'
 'Dodge Colt' 'Chevrolet Chevelle Malibu Classic' 'Dodge Coronet Brougham'
 'AMC Matador' 'Ford Gran Torino' 'Plymouth Valiant' 'Chevrolet Nova'
 'Ford Maverick' 'AMC Hornet' 'Chevrolet Chevette' 'Chevrolet Woody'
 'Dodge Aspen SE' 'Ford Grenada ghia' 'Pontiac Ventura SJ' 'AMC Pacer d/l'
 'Ford Pinto' 'Plymouth Volare Premier v8' 'Cadillac Seville'
 'Chevrolet C10' 'Ford F108' 'Dodge D100' 'Buick Opel Isuzu Deluxe'
 'Plymouth Arrow GS' 'Chevrolet Caprice Classic'
 'Oldsmobile Cutlass Supreme' 'Dodge Monaco Brougham'
 'Mercury Cougar Brougham' 'Chevrolet Concours' 'Buick Skylark'
 'Plymouth Volare Custom' 'Ford Grenada' 'Pontiac Grand Prix LJ'
 'Chevrolet Monte Carlo Landau' 'Chrysler Cordoba' 'Ford Thunderbird'
 'Pontiac Sunbird Coupe' 'Ford Mustang II 2+2' 'Chevrolet Chevette'
 'Dodge Colt m/m' 'Ford Fiesta' 'Oldsmobile Cutlass Salon Brougham'
 'Dodge Diplomat' 'Mercury Monarch ghia' 'Pontiac Phoenix LJ'
 'Chevrolet Malibu' 'Ford Fairmont (auto)' 'Ford Fairmont (man)'
 'Plymouth Volare' 'AMC Concord' 'Buick Century Special' 'Mercury Zephyr'
 'Dodge Aspen' 'AMC Concord d/l' 'Chevrolet Monte Carlo Landau'
 'Buick Regal Sport Coupe (turbo)' 'Ford Futura' 'Dodge Magnum XE'
 'Chevrolet Chevette' 'Dodge Omni' 'Plymouth Sapporo'
 'Oldsmobile Starfire SX' 'Pontiac Lemans V6' 'Mercury Zephyr 6'
 'Ford Fairmont 4' 'AMC Concord DL 6' 'Dodge Aspen 6'
 'Chevrolet Caprice Classic' 'Ford LTD Landau' 'Mercury Grand Marquis'
 'Dodge St. Regis' 'Buick Estate Wagon (sw)' 'Ford Country Squire (sw)'
 'Chevrolet Malibu Classic (sw)' 'Chrysler Lebaron Town @ Country (sw)'
 'Dodge Colt Hatchback Custom' 'AMC Spirit DL' 'Cadillac Eldorado'
 'Oldsmobile Cutlass Salon Brougham' 'Plymouth Horizon'
 'Plymouth Horizon TC3' 'Buick Skylark Limited' 'Chevrolet Citation'
 'Oldsmobile Omega Brougham' 'Pontiac Phoenix' 'Chevrolet Chevette'
 'Chevrolet Citation' 'Ford Fairmont' 'AMC Concord' 'Dodge Aspen'
 'Dodge Colt' 'Ford Mustang Cobra' 'Plymouth Reliant' 'Buick Skylark'
 'Dodge Aries Wagon (sw)' 'Chevrolet Citation' 'Plymouth Reliant'
 'Plymouth Champ' 'Plymouth Horizon 4' 'Ford Escort 4W' 'Ford Escort 2H'
 'Buick Century' 'Oldsmobile Cutlass LS' 'Ford Grenada gl'
 'Chrysler Lebaron Salon' 'Chevrolet Cavalier' 'Chevrolet Cavalier Wagon'
 'Chevrolet Cavalier 2-door' 'Pontiac J2000 SE Hatchback' 'Dodge Aries SE'
 'Pontiac Phoenix' 'Ford Fairmont Futura' 'AMC Concord DL'
 'Plymouth Horizon Miser' 'Mercury Lynx l' 'Buick Century Limited'
 'Oldsmobile Cutlass Ciera (diesel)' 'Chrysler Lebaron Medallion'
 'Ford Grenada l' 'Dodge Charger 2.2' 'Chevrolet Camaro' 'Ford Mustang GL'
 'Dodge Rampage' 'Ford Ranger' 'Chevy S-10']

254

In [103]:
# 9. 
TF2_df = df['Origin']=='Europe'
EUHP = horsepower[TF2_df]
avghp = EUHP.mean()
print(avghp)

78.78082191780823

In [114]:
# 10. 
TF_df = df['Origin']=='US'
TF3_df = df['Origin']=='Japan'
Japanmpg = mpg[TF3_df]
JapanFE = Japanmpg.mean()
USmpg = mpg[TF_df]
USFE = USmpg.mean()
print(USFE)
print(JapanFE)
# By taking the average mpg or in other words the fuel efficiency of the cars from the US and the cars from Japan I can see that the Japanese 
# cars have over get over 10 more mpg on average than the US cars

19.688188976377955
30.450632911392404

In [115]:
# 11. 
np.corrcoef(df['MPG'], df['Weight'])
# a correlation coefficient is the average trend in the relationship between two elements. In other words how the value of element 2 changes as
# element one increases. In this case as the MPG of cars increases or fuel efficiency goes up the weight of the cars goes down -0.78750994 is a negative 
# trend.

array([[ 1.        , -0.78750994],
       [-0.78750994,  1.        ]])

In [118]:
# Bonus
new_df = df[['MPG','Weight','Horsepower','Origin']].copy()
Grouped_df = new_df.groupby("Origin")
Horsepower_df = Grouped_df["Horsepower"].mean()
Weight_df = Grouped_df["Weight"].mean()
MPG_df = Grouped_df["MPG"].mean()
left_merge_df = pd.merge(MPG_df, Weight_df, on="Origin", how='left')
left2_merge_df = pd.merge(left_merge_df, Horsepower_df, on='Origin',how='left')
left2_merge_df

              MPG       Weight  Horsepower
Origin
Europe  26.745205  2431.493151   78.780822
Japan   30.450633  2221.227848   79.835443
US      19.688189  3372.700787  118.011811