In [3]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats

In [16]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [19]:
new_df = belize_df[['neighbourhood','price','number_of_reviews','availability_365']].copy()
new_df.head()

          neighbourhood  price  number_of_reviews  availability_365
0        Belize Islands    141                250               225
1        Belize Islands     71                316               164
2        Belize Islands    191                 30               364
3  Stann Creek Mainland    121                 27               331
4        Belize Islands    343                 30               203

In [29]:
grouped_df = new_df.groupby('neighbourhood')

In [40]:
price_df = grouped_df["price"].mean()

In [41]:
review_df = grouped_df["number_of_reviews"].sum()

In [42]:
availability_df = grouped_df["availability_365"].max()

In [47]:
left_merge_df = pd.merge(price_df, review_df, on="neighbourhood", how='left')
left2_merge_df = pd.merge(left_merge_df, availability_df, on='neighbourhood',how='left')
left2_merge_df

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824              22995               365
Belize Mainland        288.273063               4105               365
Cayo                   205.847525               7356               365
Corozal                156.553846                492               365
Orange Walk            122.035714                415               365
Stann Creek Islands   1136.166667                 69               365
Stann Creek Mainland   456.994690               4786               365
Toledo Mainland        222.978723                194               365