In [26]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

sorted_list = sorted(original_list, key = lambda x: -1/x )

print(sorted_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [4]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsClassifier

In [99]:
jeopardy = pd.read_csv("JEOPARDY_DATA.csv")
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [100]:
jeopardy = pd.get_dummies(jeopardy, columns=[' Round'])

In [101]:
jeopardy.dtypes

Show Number                 int64
 Air Date                  object
 Category                  object
 Value                     object
 Question                  object
 Answer                    object
 Round_Double Jeopardy!      bool
 Round_Final Jeopardy!       bool
 Round_Jeopardy!             bool
 Round_Tiebreaker            bool
dtype: object

In [102]:
jeopardy.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False

In [91]:
jeopardy[' Value'].value_counts()

 Value
$400        42244
$800        31860
$200        30455
$1,000      21640
$600        20377
            ...
$4,238          1
$16,400         1
$1,347          1
$2,547          1
$11,200         1
Name: count, Length: 145, dtype: int64

In [104]:
jeopardy[' Value'] = jeopardy[' Value'].str.extract('(\d+)')

In [105]:
jeopardy[' Value'] = jeopardy[' Value'].astype(float)

In [106]:
jeopardy.dtypes

Show Number                  int64
 Air Date                   object
 Category                   object
 Value                     float64
 Question                   object
 Answer                     object
 Round_Double Jeopardy!       bool
 Round_Final Jeopardy!        bool
 Round_Jeopardy!              bool
 Round_Tiebreaker             bool
dtype: object

In [107]:
jeopardy.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,200.0,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,200.0,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False