In [ ]:
# scales of measurement
# Nominal catagories that do not have a natural order EX blood type zipcode race
# Ordinal catagories where order matters but the difference between them is neither clear nor even EX satisfaction scores, happiness level from 1-10
# Interval There is order and difference between two values is meaningful EX Temperature, credit scores, pH
# Ratio the same as interval except there is a concept of 0 there are no negative numbers EX Concentration, Kelvin, Weight

In [ ]:
# Central tendency represents the center point or typical value of a dataset
# as a result our rule of thumb replace all mull values with the mean when the data is normally distributed
# Replace all null values with the median when the data is skewed
# the peak of the graph is the Mode
# positive skew tail or right side Negative skew tail on left side

In [ ]:
# Correlation Coefficient 
# Positive correlation move in the same direction positive slope
# Negative correlation opposite directions ie 1+ the other- negative slope
# no correlation is a flat line slope
# r =

In [1]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats
import matplotlib.pyplot as plt

In [18]:
df_clothes = pd.DataFrame(data = [['blue','S',20,'lemon shirt'],
                                  ['blue','M',50,'jeans'],
                                 ['beige','M',7,'buckethat']])

df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7    buckethat

In [19]:
# can convert catagorical values to numerical
# size is ordinal can be easily encoded

size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price         type
0   blue     1     20  lemon shirt
1   blue     2     50        jeans
2  beige     2      7    buckethat

In [20]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hamst\appdata\local\programs\python\python310\lib\site-packages (1.5.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\hamst\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hamst\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hamst\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hamst\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.5.0)

In [21]:
# Very good for nominal values
from sklearn.preprocessing import LabelEncoder
# where we want a number so it processes faster but the number doesnt mean anything

In [22]:
class_labels = LabelEncoder()
df_clothes['types'] = class_labels.fit_transform(df_clothes['color'].values)
df_clothes

   color  size  price         type  types
0   blue     1     20  lemon shirt      1
1   blue     2     50        jeans      1
2  beige     2      7    buckethat      0

In [23]:
# one hot encoding - easiest way
# this doesnt work if you have data that is already numerical

df_clothes = pd.get_dummies(df_clothes[['color','size','price',]])
df_clothes

   size  price  color_beige  color_blue
0     1     20        False        True
1     2     50        False        True
2     2      7         True       False